@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.background-bottom-corner,
.background-top-corner {
  width: 25%;
  height: auto;
  z-index: -1;
}

.background-top-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.background-bottom-corner {
  position: absolute;
  bottom: 0;
  left: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.home--title {
  font-weight: 700;
  font-size: 2rem;
  color: #293264;
  margin: 0;
}

.home--description {
  font-weight: 400;
  font-size: 1rem;
  color: #293264;
  margin: 0;
}

.home--start-button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #F5F7FB;
  background-color: #4D5B9E;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
}

.quizz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 75px;
}

.quizz > * {
  width: fit-content;
}

.query {
  margin: 0 0 7px 0;
}

 .answers {
  display: flex;
  gap: 15px;
}

.answer {
  width: max-content;
  height: 20px;
}

.answer input[type="radio"] {
  display: none;
}

.answer input[type="radio"]:checked + .answer--label {
  background: #D6DBF5;
  border: none;
}

.answer--label {
  color: #293264;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #293264;
  border-radius: 10px;
  cursor: pointer;
}

.quizz--submit-button {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  width: max-content;
  height: 35px;
  border: none;
  border-radius: 15px;
  /* align-self: center; */
  padding: 11px 22px;
}